
<h2>List of Saints</h2>

<div>

  <div class="row mb-3 mt-4">
    <label for="new-hero" class="col-sm-1 col-form-label">Saint Name</label>
    <div class="col-sm-4">
        <input type="text" id="new-hero" class="form-control" #heroName>
    </div>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="btn btn-secondary add-button" (click)="add(heroName.value); heroName.value=''">Add New</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="btn btn-link delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
